<section>
  <h1>NGPL SELECT MULTIPLE</h1>
  <div>
    <mat-checkbox [formControl]="disableControl" class="mr-3">
      Disable Control
    </mat-checkbox>
    <mat-checkbox [formControl]="readOnlyControl" class="mr-3">
      ReadOnly Control
    </mat-checkbox>
    <mat-checkbox [formControl]="loadingControl" class="mr-3">
      Show Loading
    </mat-checkbox>
  </div>
  <form [formGroup]="formGroup" fxLayout="column">
    <div fxLayout fxLayoutAlign="space-around">
      <ngpl-select-multiple ngplWidth="250px"
                            [ngplDisableControl]="disableControl.value"
                            placeHolder="Id as Value"
                            propValue="id"
                            [readOnlyControl]="readOnlyControl.value"
                            [showLoading]="loadingControl.value"
                            formControlName="select"
                            [items]="items">

      </ngpl-select-multiple>
      <ngpl-select-multiple ngplWidth="250px"
                            [ngplDisableControl]="disableControl.value"
                            placeHolder="Object as Value"
                            [showLoading]="loadingControl.value"
                            [readOnlyControl]="readOnlyControl.value"
                            formControlName="select1"
                            [items]="items">

      </ngpl-select-multiple>
      <ngpl-select-multiple ngplWidth="250px"
                            placeHolder="Label Function"
                            propValue="descripcion"
                            [showLoading]="loadingControl.value"
                            [readOnlyControl]="readOnlyControl.value"
                            formControlName="select2"
                            [labelFn]="labelFn"
                            [items]="items">
      </ngpl-select-multiple>


    </div>
    <div fxLayout fxLayoutAlign="space-around">

      <ngpl-select-multiple ngplWidth="250px"
                            placeHolder="No Result Template"
                            propValue="descripcion"
                            [showLoading]="loadingControl.value"
                            [readOnlyControl]="readOnlyControl.value"
                            formControlName="select3"
                            [filterBy]="'descripcion'"
                            [noResultTemplate]="noResult"
                            [items]="items">
      </ngpl-select-multiple>

      <ngpl-select-multiple ngplWidth="250px"
                            placeHolder="No All Options"
                            propValue="descripcion"
                            showAllOption="false"
                            [showLoading]="loadingControl.value"
                            [readOnlyControl]="readOnlyControl.value"
                            formControlName="select4"
                            [items]="items">
      </ngpl-select-multiple>

      <ngpl-select-multiple ngplWidth="250px"
                            placeHolder="No Searcheable"
                            propValue="descripcion"
                            searcheable="false"
                            [showLoading]="loadingControl.value"
                            [readOnlyControl]="readOnlyControl.value"
                            formControlName="select5"
                            [items]="items">
      </ngpl-select-multiple>

    </div>
    <div fxLayout fxLayoutAlign="space-around" class="mt-3">
      <ngpl-select-multiple
        [ngplDisableControl]="disableControl.value"
        [readOnlyControl]="readOnlyControl.value"
        [showLoading]="loadingControl.value"
        formControlName="select6"
        panelWidth="270px"
        [orderSelection]="true"
        ngplWidth="250px"
        placeHolder="Custom template inside component"
        [items]="items">
      </ngpl-select-multiple>

      <ngpl-select-multiple
        [ngplDisableControl]="disableControl.value"
        [readOnlyControl]="readOnlyControl.value"
        [showLoading]="loadingControl.value"
        showLoadingWidth="40%"
        formControlName="select7"
        appearance="outline"
        panelWidth="270px"
        [orderSelection]="true"
        [orderBackgroundColor]="'red'"
        [orderColor]="'white'"
        ngplWidth="250px"
        placeHolder="Multiple red order"
        [items]="items">

      </ngpl-select-multiple>
      <ngpl-select-multiple
        [ngplDisableControl]="disableControl.value"
        [readOnlyControl]="readOnlyControl.value"
        [showLoading]="loadingControl.value"
        showLoadingWidth="200px"
        formControlName="select8"
        appearance="standard"
        panelWidth="300px"
        ngplWidth="250px"
        [itemTemplate]="selectMultipleItemTemplate"
        placeHolder="Custom Item Template"
        [items]="items">

      </ngpl-select-multiple>

    </div>
    <ng-template #noResult let-search='search'>
      <div>
        <h1>No Items Found to {{search}}</h1>
      </div>
    </ng-template>

    <ng-template #selectMultipleItemTemplate let-item='item' let-order='order'>
      <div fxLayout fxLayoutAlign="space-between center" class="item-template">
        <mat-icon class="mr-2 "
                  [class.odd]="item.id % 2 === 0"
                  [class.even]="item.id % 2 !== 0">
          {{item.id % 2 === 0 ? "3d_rotation" : 'more_vert'}}</mat-icon>
        <p>{{item.id}} {{item.descripcion}}</p>
        <p *ngIf="order > 0" class="order">
          {{order}}
        </p>
      </div>
    </ng-template>
  </form>

  <div fxLayout="" fxLayoutAlign="space-around" ngplWidth="100%">
    <pre>{{formGroup.value | json}}</pre>
    <pre>{{formGroup.getRawValue() | json}}</pre>
  </div>

</section>
